# Archivos y carpetas ignoradas
.gradle/
.idea/
build/
captures/
.externalNativeBuild/
.cxx/

# Archivos de configuración local
local.properties

# Archivos de log
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
*.iml
*.apk
*.jks
